:root{
    --review-width:16em;
    --color-texto:#FFFFFF;
    --hover-color:#5599BB;
    --color-fondo:#242530ff;
}

html{
    box-sizing: border-box
}

body{
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'VT323', 'Roboto', sans-serif;
    font-size:1.4em
}

@media (min-width:761px){ 
    body{
        padding:2em;
    }
}
